/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100vh; /* Para que el contenido ocupe toda la altura de la ventana */
    overflow-y: auto; /* Habilita el scroll vertical */
}

/* Barra de navegación fija */
nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed; /* La barra se queda fija en la parte superior */
    top: 0;
    width: 100%;
    z-index: 1000; /* Asegura que la barra esté por encima del contenido */
}

.nav-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list li {
    display: inline;
}

.btn-invitado {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-invitado:hover {
    background-color: #45a049;
}

/* Estilo del formulario */
form {
    background-color: white;
    padding: 30px; /* Aumenta el padding para dar más espacio interno */
    margin: 100px auto; /* Centra el formulario horizontalmente y ajusta el margen superior para la barra */
    max-width: 500px; /* Ajusta el ancho máximo del formulario */
    width: 100%; /* Asegúrate de que ocupe todo el ancho disponible */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    width: 100%; /* El botón ocupa el 100% del ancho */
    border-radius: 5px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Responsive design para pantallas pequeñas */
@media screen and (max-width: 600px) {
    .nav-container {
        justify-content: center;
    }

    form {
        width: 90%; /* El formulario ocupa el 90% del ancho de la pantalla */
    }
}
