/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow-x: hidden; 
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1, h3 {
    text-align: center;
}

.servicio {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.servicio img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

label {
    font-size: 16px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

/* Estilo para el botón flotante de WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 20px; /* Ajustado para que esté por encima del footer */
    right: 20px;
    background-color: #25D366;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000; /* Para que el botón esté siempre visible */
}

.whatsapp-button i {
    font-size: 30px;
}

.whatsapp-button:hover {
    background-color: #1ebe5b; /* Efecto hover más oscuro */
}

/* Asegurando que el cuerpo ocupe toda la ventana */
html, body {
    height: 100%;
    margin: 0;
}

/* Estilo del footer para que se mantenga abajo */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
    margin-top: auto;
}
/* Estilo para el botón de "Enviar a WhatsApp" */
.enviar-whatsapp-button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
}

.enviar-whatsapp-button:hover {
    background-color: #218838;
}

/* Tooltip para el comentario flotante del botón "Enviar a WhatsApp" */
.enviar-whatsapp-button::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 40px; /* Ajusta la distancia sobre el botón */
    left: 50%; /* Para centrar el tooltip */
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

/* Mostrar el tooltip al pasar el mouse */
.enviar-whatsapp-button:hover::after {
    opacity: 1;
}

