* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.description {
    margin-top: 20px;
    max-width: 600px;
    text-align: center;
}

.social-links {
    text-align: center;
    margin-top: 25px;
}

.local-link{
    margin-top: 30px;
}

.buttons {
    margin: 20px 0;
}

.btn {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative; /* El footer ahora se colocará debajo del contenido */
    bottom: 0;
    width: 100%;
}


.btn i {
    margin-right: 10px; /* Espacio entre el icono y el texto */
}

html {
    scroll-behavior: smooth; /* Habilita el desplazamiento suave */
}

@media (max-width: 600px) {
    .buttons {
        flex-direction: column; /* Coloca los botones uno debajo del otro en pantallas pequeñas */
        width: 100%; /* Ocupa todo el ancho disponible */
    }

    .btn {
        max-width: none; /* Los botones ahora pueden ocupar todo el ancho */
        width: 90%; /* Ajusta el ancho de los botones en móviles para que no ocupen todo el espacio */
        margin: 0 auto; /* Centra los botones */
    }
}